body {
    color: #333;
}

.contenerButton {
    width: 250px;
    padding: 20px;
    margin: auto;
    position: relative;
}

.buttonPopovers {
    width: 100%;
    padding: 10px;
    background-color: #e5454c;
    border: 0;
    border-radius: 5px;
    color: wheat;
    font-size: 16px;
    font-style: inherit;
    font-weight: 700;
    margin-top: 70px;
}

.form-hint {
    position: absolute;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    margin-left: 20px;
    top: 14px;
    left: 0;
}

.form-hint::before {
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-color: red;
    border-width: .9rem .9rem 0;
}

.newH {
    margin: 0;
    padding: 2px;
}


/*
.newH::before {
    border: red;
    border-width: 1px;
}*/